*.swp
*.pyc
*.npz
*.html
results/
scripts/
__pycache__/
*.egg-info
.vscode/*
.noseids
nosetests.xml
.pytest_cache/*
.mypy_cache/*
*.png
*.pdf
*.tiff
tmp/*
build/*
dist/*
*.ipynb
.ipynb_checkpoints/*
.DS_Store